.button {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ddd;
  }

  #submit.green {
    background-color: green;
  }
  
  #submit.red {
    background-color: red;
  }
  
  #submit.disabled {
    background-color: gray;
  }