.Dropdown-root {
    position: relative;
    width: 30%;
  }
  
  .Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
  }
  
  .Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
  
  .Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 20px;
  }
  
  .is-open{
    height: fit-content;
    border-radius:8px;
    box-shadow: 0 20px 20px 20px rgba(33,33,33,.2); 

  }

  .is-open .Dropdown-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }

  .Dropdown-menu {
    background-color: white;    
    box-sizing: border-box;
    margin-top: 2px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    /* width: 100%; */
    /* z-index: 1000; */
    box-shadow: 0px 5px 5px 5px rgba(33,33,33,.05);  
    -webkit-overflow-scrolling: touch;
  }
  
  .Dropdown-menu .Dropdown-group > .Dropdown-title{
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
    display: flex;
    align-items: bottom;
  }
  
  .Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px;
  }
  
  .Dropdown-option:hover {
    background-color: #f2f9fc;
    color: #333;
  }
  
  .Dropdown-option.is-selected {
    background-color: #f2f9fc;
    color: #333;
  }
  
  .Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
  
  .ratingValue{
    width: 1.5em;
    margin-left: 0.3em;
    min-width: 2em;
    text-align: center;
    font-size: 1.2em;
  }

  .is-selected > .rating{
    margin-left: 0em;
  }

  .rating{
    width: 1em;
    font-size: 0.9em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .dollarSign{
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .costValue{
    margin-left: 2px;
    width: 1.5em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  