/* .summary-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ddd;
    float: right;
    margin: 10px;
    padding: 10px;
    width: 17em;
    min-height: 12em;
    position: sticky;
    top: 10px;
    z-index: 100;
} */

.summary-box {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5000;
    
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ddd;
    padding: 10px;
    width: 17em;
    min-height: 12em;
}


.summary-header {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ddd;
    margin: -10px -10px 10px -10px;
    background-color: #F2F7FC;
    height: 3.5em;
}

.summary-header h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1em;
}

.summary-content {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 1em 0.5em 1em;
    font-weight: 800;
}

.summary-content.top {
    margin-top: 1.5em;
}

.summary-left {
    text-align: left;
}

.summary-left {
    text-align: left;
}

.summary-right {
    text-align: right;
}

.summary-hint-message {
    padding: 0 1em;
    margin: 0.5em 0.5em;
    font-size: 13px;
    color: red;
}

.summary-hint-message.error {
    background-color: #ffeeee;
    border-radius: 4px;
    border: 1px solid #ffcccc;
    padding: 5px 10px;
}

.line {
    position: relative;
}

.line::after {
    content: "";
    position: absolute;
    top: 0em;
    bottom: 0;
    left: 35%;
    right: 0;
    border-bottom: 0.1em solid #2d2d2d;
    width: 60%;
    margin: 0em 0em 0.5em 0em;
}


.summary-footer {
    text-align: center;
    margin-top: 20px;
}

.custom-button {
    background-color: #ddd;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
}

.custom-button:hover {
    background-color: #333;
    color: white;
}

.reset {
    border: #A6C2CE 1px solid;
    color: rgb(102, 102, 102);
    padding: 0.3em 0.5em;
    margin: 1.5em 1em;
    width: auto;
}

.addOneVote {
    border: #A6C2CE 1px solid;
    color: rgb(102, 102, 102);
    padding: 0.3em 0.1em;
    margin: 1.5em 1em;
    width: 8em;
}

/* the hover color is weird lol */

.reset:hover {
    background-color: #A6C2CE;
    color: rgb(82, 82, 82);
}

.submit.valid {
    border: white 1px solid;
    padding: 0.5em 1.5em;
    font-size: large;
    margin: 1em;
    width: auto;
    background-color: #A6C2CE;
    color: rgb(102, 102, 102);
    border-radius: 4px;
}

.submit.invalid {
    border: #878888 1px solid;
    padding: 0.5em 1.5em;
    font-size: large;
    margin: 1em;
    width: auto;
    color: #878888;
    background-color: white;
    border-radius: 4px;
    /* disable click */
    pointer-events: none;
}

.submit.valid:hover {
    border: #A6C2CE 1px solid;
    color: rgb(82, 82, 82);
    background-color: white;
    box-shadow: 0 2px 5px rgba(166, 194, 206, 0.3);
}

@media (max-width: 768px) {
    .summary-box {
        float: none;
        width: calc(100% - 40px);
        margin: 10px auto;
        position: relative;
    }
    
    .submit.valid, .submit.invalid {
        width: 80%;
    }
}
