.category-container-parent {
    margin: 1.5em;
    border-radius: 2px;
    /* border: 1px solid lightgrey; */
    /* width: 220px; */
}

.category-container-parent.vote{
    margin-top: 0em;
    margin-bottom: 2em;
}

.category-container-parent.organize {
    margin: 2em;
    border-radius: 2px;
    min-height: 110em;
    max-height: 110em;
}

.category-container-parent.organize.Undecided {
    margin-top: 0em;
}


.skipped-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-container-parent.organize.Skip {
    margin-top: 0em;
    margin-bottom: 0em;
}

.skipped-panel{
    background-color: #ddd;
    width: 80%;
}

.category-toggle {
    background-color: #ddd;
    width: 40%;
}

.categoryContainer {
    border-radius: 2px;
    height: 100%;
    /* width: 220px; */
    /* margin: 2em; */
    /* border: 1px solid lightgrey; */

    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
    scrollbar-width: none;
    scrollbar-color: lightgrey;
    -webkit-overflow-scrolling: touch;
}

.categoryContainer.organize{
    width: 95%;
}

.categoryContainer.organize.Positive.scroll, 
.categoryContainer.organize.Negative.scroll, 
.categoryContainer.organize.Neutral.scroll {
    overflow: scroll;
}



.categoryContainer::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
}

.categoryContainer::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 10px;
    border: 4px solid transparent;
}

.categoryContainer::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}


.category-container-parent.organize.Positive,
.category-container-parent.organize.Negative,
.category-container-parent.organize.Neutral {
    width: 28%
}

.category-container-parent.organize.Undecided {
    width: 100%;
    max-height: 7em;
    min-height: 7em;
    /* max-height: 25em;
    max-height: 100em;
    min-height: 25em; */
}

.category-container-parent.organize.Skip {
    width: 100%;
    /* max-height: 7em; */
    min-height: 0em;
}

/* .categoryContainer.vote.scroll {
    margin-bottom: -1em;
    padding: 0em;
} */

.categoryCanvas.organize {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5em;
}

.categoryCanvas.vote {
    width: 78%;
    margin-left: -1.5em;
}

.trueIsDraggingOver {
    background-color: #EFEFEF;
}

h2 {
    padding: 0.25em;
    font-size: 1.1em;
}

.category-container-parent h2{
    padding-left: 0.8em;
    font-weight: 500;
}

h2.Positive {
    border-top: #a6c29bbf 3px solid;
    border-bottom: #a6c29bbf 3px solid;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2.Positive:before {
    content: "";
    display: inline-block;
    width: 17px; /* sets the width of the color block */
    height: 17px; /* sets the height of the color block */
    margin-right: 10px; /* adds some spacing between the color block and text */
    background-color: #a6c29bbf; /* sets the color of the block */
    vertical-align: middle;
    margin-top: -4px;
}

h2.Negative {
    border-top: #EBC57C 3px solid;
    border-bottom: #EBC57C 3px solid;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2.Negative:before {
    content: "";
    display: inline-block;
    width: 17px; /* sets the width of the color block */
    height: 17px; /* sets the height of the color block */
    margin-right: 10px; /* adds some spacing between the color block and text */
    background-color: #EBC57C; /* sets the color of the block */
    vertical-align: middle;
    margin-top: -4px;
}

h2.Neutral {
    border-top: #A6C2CE 3px solid;
    border-bottom: #A6C2CE 3px solid;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2.Neutral:before {
    content: "";
    display: inline-block;
    width: 17px; /* sets the width of the color block */
    height: 17px; /* sets the height of the color block */
    margin-right: 10px; /* adds some spacing between the color block and text */
    background-color: #A6C2CE; /* sets the color of the block */
    vertical-align: middle;
    margin-top: -4px;
}

/* h2.Undecided {
    background-color: rgba(156, 143, 150, 0.6)
} */

.show-more {
    /* margin-right: 5em; */
    cursor: pointer;
    text-align: right;
    color: darkblue;
    font-weight: bold;
}

.show-compact {
    /* margin-right: 5em; */
    cursor: pointer;
    text-align: right;
    color: darkblue;
    font-weight: bold;
}

.show-more:hover,
.show-compact:hover {
    text-decoration: underline;
}

.select__option--is-selected{
    scroll-margin: -5em;
}

.rating-panel{
    font-size: 1.1em;
    background-color: #ddd;
}




.no-option-placeholder{
    text-align: center;
    font-size: 1.1em;
    background-color: #dddddd49;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 2px;
}

.viewCategoryTitle-undecided {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(156, 143, 150, 0.6);
    height: 30px;
    align-items: center;
}

.viewCategoryTitle-Positive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a6c29bbf;
    padding: 0px;
    align-items: center;
}

.viewCategoryTitle-Negative {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EBC57C;
    padding: 0px;
    align-items: center;
}

.viewCategoryTitle-Neutral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A6C2CE;
    padding: 0px;
    align-items: center;
}
  
.viewCategoryTitle-title {
    margin: 0;
    font-size: 1.1em;
    font-weight: 20;
}
  
.reorder {
    /* width: 85px; */
    height: 20px;
    font-size: 14px;
    background-color: #ffffff;
    color: #27AAFE;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}  

.reorder:hover {
    background-color: #27AAFE;
    color: white;
}
    
/* .category-toggle {
    position: fixed;
    right: 30em;
} */

/* .category-button.Undecided {
    width: 5.5em;
    background-color: rgba(156, 143, 150, 0.6)
}

.category-button.Defer {
    background-color: rgba(107, 121, 158, 0.3) ;
    /* background-color: #6b799eb3 
} */

/* 
.categoryContainer.organize {
    width: 33%
} */

/* .category-column.Positive, .category-column.Negative, .category-column.Neutral {
    width: 30%;
} */