.controller-panel {
    flex:1;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.category-button {
    height: 5em;
    width: 5em;
    line-height: 5em;
    background-color: #ddd;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-button:hover {
    background-color: #4CAF50;
    transform: scale(1.01);
    box-shadow: 0px 0px 3px #333;
}

.category-button.Negative {
    background-color: #EBC57C
}

.category-button.Neutral {
    background-color: #A6C2CE
}

.category-button.Positive{
    /*background-color: #D6D6D6*/
    background-color: rgba(166, 194, 155, 0.75);
}

.category-button.Undecided {
    width: 5em;
    background-color: rgba(107, 121, 158, 0.35) ;
    /* background-color: rgba(156, 143, 150, 0.6); */
    border-radius: 0px 4px 4px 0px;
}

.category-button.Defer {
    background-color: rgba(156, 143, 150, 0.5);
    /* background-color: rgba(107, 121, 158, 0.35) ; */
    border-radius: 0px 4px 4px 0px;
    /* background-color: #6b799eb3 */
}

.linebreak {
    line-height: 1.3em;
}