.item-wrapper {
    width: 90%;
    height: 7em;
    left: 8px;
    /* top: 2227px; */
    background: #FFFFFF;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    /* padding: 10px; */
    margin: 10px;
}

.item-wrapper.isDraggingtrue {
    width: 30%;
}

.draggable-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px 1px;
    gap: 2px;
    width: 12px;
    height: 3.3em;
    border-radius: 4px 0px 0px 4px;
    /* height: 86px; */
    background: #EFEFEF;
}

.circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #808080;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.Dropdown-placeholder {
    display: flex;
    align-items: bottom;
}


.organizer-info {
    width: 65%;
    min-width: 60%;
    justify-content: flex-start;
    margin: 16px;
}

.controller-panel{
    width: 40%;
    min-width: 30%;
    justify-content: flex-end;
}

.optionCard{
    display: flex;
    width: 100%;
}

.item-wrapper.organize.Positive, .item-wrapper.organize.Negative, .item-wrapper.organize.Neutral {
    width: 95%;
}

.organizer-info-title {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 4px;
}

.isDraggingtrue {
    width: 30%;
}