.Dropdown-control {
  border: none;
  border-radius:8px;
  border: 1px #808080;
}

.Dropdown-control:hover {
  transition: box-shadow .3s;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.Dropdown-menu {
  border-radius:8px;
  border: 1px #808080;
  overflow: hidden;
  max-height: none !important;
  height: auto !important;
}

.Dropdown-option:hover {
  background-color: none !important;
  color: #333;
  font-weight: 700 !important;
}

/* 
.Dropdown-option.is-selected {
  background-color: none !important;
  color: #333;
  font-weight: 800 !important;
} */