.select-dropdown-container {
    width: 100%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .select-dropdown-menu {
    width: 100%;
    display: flex;
  }

  /* .select-dropdown-menu .select__option:hover {
    background-color: #dfdfdf;
  } */

  .select-dropdown-menu .select__option--is-selected {
    /* background-color: #9f9d9d; */
    color: #d6d5d5;
    font-weight: bold;
    margin-left: 10;
  }

  .select-dropdown-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /* .select-dropdown-label:hover {
    background-color: #a7eb9f;
  } */

  /* .select-dropdown-container__option--is-selected {
    background-color: #f0f0f0;
  }
  
  .select-dropdown-container__option:hover {
    background-color: #e0e0e0;
  } */