.select-dropdown-container {
    width: 25%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .select-dropdown-menu {
    width: 100%;
    display: flex;
  }

  .select-dropdown-menu::-webkit-scrollbar {
    display: none;
  }

  .select-dropdown-menu .select__option--is-selected {
    /* background-color: #9f9d9d; */
    font-weight: bold;
    margin-left: 10;
    border-left: 2.5px solid #27AAFE;
  }

  .select-dropdown-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }