button.next {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 3em;
  /* position: fixed;
  bottom: 40px;
  right: 40px; */
  }

.summary-box{
    position: fixed;
    bottom: 50%;
    right: 0.5em;
}

.Container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 1.5em;
}

h2.question-title{
    font-size: 1.5em;
    font-weight: 500;
    color: #000000;
    padding-bottom: 3px;
    margin-top: 0em;
}

body {
    overflow-x: hidden;
    }

.empty-div{
    height: 30em;
}

.Container .header {
  /* margin-top: 5em;
  margin-left: 1em; */
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Container .title {
  font-size: 2rem;
  font-weight: bold;
}
