button.next {
  background-color: #FFFFFF;
  border-radius: 12px;
  margin: 0.5em 0.15em 0.15em 0.15em;
  font-size: 15px;
  transition: box-shadow 0.2s;
  cursor: pointer;
  letter-spacing: 0.2px;
  font-weight: 500;
  border: 2.5px solid #0077CC;
  color: #0077CC;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button.next:hover {
  background-color: #0077CC;
  color: #FFFFFF;
}

button.next-arrow {
  position: relative;
  padding-left: 35px;
}

button.next-arrow .arrow-icon {
  content: "";
  position: absolute;
  top: 40%;
  left: 20px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-top: 2px solid #0077cc;
  border-right: 2px solid #0077cc;
  transform: rotate(-135deg);
}

button.next-arrow:hover .arrow-icon {
  border-top-color: white;
  border-right-color: white;
}

button.next-arrow:hover {
  background-color: #0077cc;
  color: white;
}

button.next-arrow-right {
  position: relative;
  padding-right: 35px;
}

button.next-arrow-right .arrow-icon {
  content: "";
  position: absolute;
  top: 40%;
  right: 20px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-top: 2px solid #0077cc;
  border-right: 2px solid #0077cc;
  transform: rotate(45deg);
}

button.next-arrow-right:hover .arrow-icon {
  border-top-color: white;
  border-right-color: white;
}

button.next-arrow-right:hover {
  background-color: #0077cc;
  color: white;
}


.summary-box{
    position: fixed;
    bottom: 50%;
    right: 0.5em;
}

.Container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 1.5em;
}

.hint-message {
  text-align: right;
  color: red;
  width: 40%;
}

h2.question-title{
    font-size: 1.5em;
    font-weight: 500;
    color: #000000;
    padding-bottom: 3px;
    margin-top: 0em;
}

body {
    overflow-x: hidden;
    }

.empty-div{
    height: 30em;
}

.Container .header {
  /* margin-top: 5em;
  margin-left: 1em; */
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Container .title {
  font-size: 2rem;
  font-weight: bold;
}

.small-margin {
  margin-top: -0.5em;
  margin-bottom: -1.25em;
}